body {
  text-align: center;
  background: lightgrey;
  margin: 0;
  padding: 0;
}
h1 {
  background: #c5e4b8;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #53a63a;
}
.large-button {
  font-size: 1.3em;
  border: 2px solid #fff;
  background: #53a63a;
  color: #fff;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}
